
@media (max-width:360px){.auto_font_size{font-size:10px;}}
@media (min-width:361px) and (max-width:439px){.auto_font_size{font-size:11px;}}
@media (min-width:440px) and (max-width:539px){html{font-size:12px;}}
@media (min-width:540px){.auto_font_size{font-size:14px;}}

.mgt0 {margin-top:0px;}
.mgt5 {margin-top:5px;}
.mgt10 {margin-top:10px;}
.mgt15 {margin-top:15px;}
.mgt20 {margin-top:20px;}
.mgb0 {margin-bottom:0px;}
.mgb5 {margin-bottom:5px;}
.mgb10 {margin-bottom:10px;}
.mgb15 {margin-bottom:15px;}
.mgb20 {margin-bottom:20px;}

.pointercursor { cursor: pointer; }
.font14px { font-size: 14px; font-weight: bold; }

.textcenter {text-align: center;}